extends ../layout

block content

  h2.page-headline {{{headlinePlural}}}
    include _search

  - if ('undefined' !== typeof {{{namePlural}}} && {{{namePlural}}}.length > 0)

    table.table.table-bordered.table-striped.datagrid.small-bottom-margin
      thead
        tr
          {{#softDeletable}}
          th.text-center(title="Deletion status")
            i.fa.fa-trash-o
          {{/softDeletable}}
          {{#attributes}}
          th(data-property="{{{name}}}") {{{humanized}}}
          {{/attributes}}
          th(data-property="created_at") Created at
          th
            i.fa.fa-wrench
            |  Operations
      tbody
        include _index_rows

    include _pagination

  - else

    p No {{{namePlural}}} present.

  script.

    /**
     * Build DataGrid instances for the whole index page
     */
    var datagrid = new greppy.DataGrid($('table.datagrid'), {
      softDeletion: {{softDeletion}}
    });

