.container
  p.text-muted.credit

    p.pull-right
      a(href="#top")
        i.fa.fa-arrow-circle-up
        |  Back to top

    .branding-info.pull-left
      h3.branding-head {{nameCaped}}
      | &copy; 2013 Your company
      &nbsp;&bull;&nbsp;
      a(target="_blank", href="/") Home

