/**
 * {{{name}}} Model
 */
var {{{name}}} = new Schema({
    {{#properties}}

    {{{name}}}: {
        type: {{{type}}},
        {{#default}}
        default: {{{default}}},
        {{/default}}
        required: {{{notEmpty}}}
    },
    {{/properties}}

    created_at: {
        index: true,
        type: Date,
        default: Date.now
    },

    updated_at: {
        index: true,
        type: Date,
        default: null
    }{{#softdelete}},

    deleted_at: {
        index: true,
        type: Date,
        default: null
    }
    {{/softdelete}}
});

{{{name}}}.info = {
    singular : '{{{name}}}',
    plural   : '{{{namePlural}}}'
};

module.exports = {{{name}}};

