h1, h2, h3, h4, h5, h6, th, .page-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
.navbar .dropdown-menu {
  max-height: 700px;
  overflow: auto;
  width: 300px;
}
#toc {
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#toc .toc-active {
    background-color: rgb(0, 136, 204);
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}
#toc .toc-active a,
#toc .toc-active a:hover,
#toc .toc-active a:active,
#toc .toc-active a:visited {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 136, 204);
}
.toc-shim {
  padding-top: 56px;
  margin-top: -56px;
  display: block;
}
.toc-h1 {
  margin-left: 2px;
  margin-right: 2px;
}
.toc-h2 {
  margin-left: 7px;
  margin-right: 7px;
}
.toc-h3 {
  margin-left: 14px;
  margin-right: 7px;
}
.toc-h4 {
  margin-left: 21px;
  margin-right: 7px;
}
.jsdoc-message {
    margin-top: 12px;
}
.page-title {
    margin-top: -5px;
}
code {
  background-color: none;
  border: none;
  color: #dd5600;
}
.buffered-name {
  padding-top: 56px;
  margin-top: -56px;
}
.member-collapsed {
    background-color: rgb(0, 136, 204);
    color: rgb(255, 255, 255);
}
.member-open {
  background-color: inherit;
  color: inherit;
}
.member {
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.name.member {
  font-weight: 500;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -186px;
}

#push {
    height: 200px;
}

#footer {
    height: 170px;
    margin-top: 15px;
    color: #777777;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
}

#footer > .container > .row {
    margin-top: 10px;
}

.center {
    margin: 0 auto;
    text-align: center !important;
}

.container-fluid > .row-fluid {
    margin-top: 60px;
}

#footer a {
    color: #A8A8A8;
}

#footer a:hover {
    color: #A39D86;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
}
}

.footer-logo {
    margin: 15px 5px 5px 5px;
}

.footer-logo-desc {
    text-align: right;
}

.page-title {
  font-size: 38.5px;
}

.content-wrap {
    padding-left: 25px;
    border-left: 3px solid #0088CC;
}

.span3 > .well {
    padding-bottom: 0px;
}

#toc-wrap {
    position: fixed;
    width: 21.404%;
    padding-right: 10px;
    top: 60px;
    /* max-height: 90%; */
    bottom: 200px;
    overflow: auto;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

pre {
    background-color:#F8F8FF
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    padding-top: 56px; margin-top: -56px;
}

.toc-humanized-anchor {
    display: none;
}

