<!DOCTYPE html>
<?js var that = this; ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= this.navOptions.systemName ?> <?js= title ?></title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="assets/styles/sunlight.default.css">
    <link type="text/css" rel="stylesheet" href="assets/styles/site.<?js= this.navOptions.theme ?>.css">
    <link type="text/css" rel="stylesheet" href="assets/styles/jsdoc.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <script src="assets/scripts/jquery.min.js"></script>
</head>

<body>

    <div id="wrap">

        <div class="navbar navbar-fixed-top <?js= this.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="<?js= this.nav.index.link ?>"><?js= this.nav.index.title ?></a>
                    <ul class="nav">
                        <li><a href="<?js= this.nav.gettingStarted.link ?>">
                            <i class="<?js= this.nav.gettingStarted.icon ?>"></i>
                            <?js= this.nav.gettingStarted.title ?>
                        </a></li>
                        <?js this.nav.topLevelNav.forEach(function(entry){ ?>
                        <li class="dropdown">
                            <a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="<?js= entry.icon ?>"></i>&nbsp;<?js= entry.title ?><b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
                                <?js entry.members.forEach(function(member){ ?>
                                <li>
                                    <?js= member ?>
                                </li>
                                <?js }); ?>
                            </ul>
                        </li>
                        <?js }); ?>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">

                <?js if(docs && docs[0].kind !== "source"){ ?>

                    <?js if(docs && docs[0].kind !== "source"){ ?>
                    <div class="span3">
                        <div id="toc-wrap" class="well"><div id="toc"></div></div>
                    </div>
                    <?js } ?>

                    <div class="span9" style="margin-left: 25px;">

                <?js }else{ ?>

                    <div class="span12">

                <?js } ?>

                    <div id="content-wrap" class="content-wrap">
                        <div id="main">
                            <?js= content ?>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <br clear="both">
                </div>
            </div>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="footer-logo-desc">
                        <a href="http://greppy.org">
                            <img src="assets/img/greppy.png" class="footer-logo" />
                        </a>
                    </div>
                </div>
                <div class="span7">
                    <a href="http://greppy.org">
                        <h3><?js= this.nav.index.title ?></h3>
                    </a>
                    <p>
                    <?js if (that.navOptions.footer.length > 0){ ?>
                        <?js= that.navOptions.footer ?><br />
                    <?js } ?>
                    <?js if (that.navOptions.copyright.length > 0){ ?>
                        <span class="copyright">
                            <?js= that.navOptions.copyright ?>
                        </span>
                    </p>
                    <p>
                    <?js } ?>
                    <span class="jsdoc-message">
                        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc<?js= env.version.number ?></a>
                        &nbsp;on <?js= (new Date()) ?> using the <a href="https://github.com/terryweiss/docstrap">DocStrap template</a>.
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/scripts/sunlight.js"></script>
    <script src="assets/scripts/sunlight.javascript.js"></script>
    <script src="assets/scripts/sunlight-plugin.doclinks.js"></script>
    <script src="assets/scripts/sunlight-plugin.linenumbers.js"></script>
    <script src="assets/scripts/sunlight-plugin.menu.js"></script>
    <script src="assets/scripts/jquery.scrollTo.js"></script>
    <script src="assets/scripts/jquery.localScroll.js"></script>
    <script src="assets/scripts/enscroll-0.4.0.min.js"></script>
    <script src="assets/scripts/bootstrap-dropdown.js"></script>
    <script src="assets/scripts/toc.js"></script>

    <script>Sunlight.highlightAll({lineNumbers:<?js= this.navOptions.linenums ?>,  showMenu: true, enableDoclinks :true});</script>

    <script>
        $( function () {
            $( "#toc" ).toc( {
                selectors   : "h1,h2,h3:not(#footer h3),h4",
                showAndHide : false,
                scrollTo    : 60
            } );
            $( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
            $( "#main span[id^='toc']:not(:first-child)" ).addClass( "toc-shim" );
        } );

        $('#toc-wrap').enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3',
            scrollIncrement: 80
        });
    </script>

    <?js if (this.navOptions.collapseSymbols) { ?>
    <script>
        $( function () {
            $('#main').localScroll({
                offset: { top: 56 } //offset by the height of your header (give or take a few px, see what works for you)
            });
            $( "dt h4.name" ).each( function () {
                var $this = $( this );
                var icon = $( "<i/>" ).addClass( "icon-plus-sign" ).addClass( "pull-right" ).addClass( "icon-white" );
                var dt = $this.parents( "dt" );
                var children = dt.next( "dd" );

                $this.append( icon ).css( {cursor : "pointer"} );
                $this.addClass( "member-collapsed" ).addClass( "member" );

                children.hide();
                $this.toggle( function () {
                    icon.addClass( "icon-minus-sign" ).removeClass( "icon-plus-sign" ).removeClass( "icon-white" );
                    $this.addClass( "member-open" ).removeClass( "member-collapsed" );
                    children.slideDown();
                }, function () {
                    icon.addClass( "icon-plus-sign" ).removeClass( "icon-minus-sign" ).addClass( "icon-white" );
                    $this.addClass( "member-collapsed" ).removeClass( "member-open" );
                    children.slideUp();
                } );
            } );
        } );
    </script>
    <?js } ?>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30167663-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>
