<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package' && (data.name ||data.version)) { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
        hljs.tabReplace = ' ';
        hljs.initHighlightingOnLoad();

        $( function () {
            $('#article-data h1:not(:first-child)').prepend('<hr>');
        } );
    </script>

    <style>
        h1, h2, h3, h4, h5, h6, th, .page-title {
            padding-top: 40px;
            margin-top: -40px;
        }
        #content-wrap {
            padding-top: 1px;
            position: relative;
        }
    </style>

    <section>
        <article id="article-data"><?js= data.readme ?></article>
    </section>
<?js } ?>
