<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>
    hljs.tabReplace = ' ';
    hljs.initHighlightingOnLoad();
</script>

<section>

<header>
    <h1><?js= header ?></h1>

    <?js if (children.length > 0) { ?>
    <h2>Contents</h2>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>
</header>

<article>
    <?js= content ?>
</article>

</section>
