/**
 * {{{headline}}} Controller
 *
 * @module {{{module}}}/controller/{{{name}}}
 * @author {{{author}}}
 */

/**
 * @constructor
 */
var {{{headline}}}Controller = function()
{
    // Call the super constructor
    {{{headline}}}Controller.super_.call(this);

    // Define the path to look for views
    this.viewPath = '{{{name}}}/';
};

/**
 * Extend Greppy framework base controller
 */
util.inherits({{{headline}}}Controller, greppy.get('http.mvc.controller'));

/**
 * Build the controller instance
 */
{{{headline}}}Controller = new {{{headline}}}Controller();

/**
 * Deliver the index page.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headline}}}Controller.actions.index =
{
    methods : ['GET'],
    action  : function(req, res) {

        // Render the view
        res.render(self.view('index'), {});
    }
};

module.exports = {{{headline}}}Controller;

