/**
 * Fixtures for {{{namePlural}}} table
 */
module.exports = function(orm, models, share, utils, callback)
{
    var records = [];

    for (var i = 0; i < 100; i++) {

        records.push({
        {{#properties}}
            {{{name}}}: {{{fixture}}},
        {{/properties}}
            created_at: utils.content.date(),
        {{#softdelete}}
            deleted_at: utils.content.optional(utils.content.date())
        {{/softdelete}}
        });
    }

    async.map(records, function(record, callback) {

        models.{{{name}}}.build(record).save().success(function(record) {
            callback && callback(null, record);
        }).error(function(err) {
            callback && callback(err);
        });

    }, function(err, records) {

        if (err) {
            return callback && callback(err);
        }

        share.{{{namePlural}}} = records;
        callback && callback();
    });
}

