/**
 * {{{namePlural}}} Migration
 */
module.exports = {

    // Forward-migration method
    up: function(migration, DataTypes, done)
    {
        migration.createTable(

            // Define name of the table
            '{{{namePlural}}}',

            // Define all columns for the table
            {
                id: {
                    type: DataTypes.INTEGER,
                    autoIncrement: true,
                    primaryKey: true
                },

                {{#properties}}
                {{{name}}}: {
                    type: DataTypes.{{{type}}},
                    {{#default}}
                    defaultValue: {{{default}}},
                    {{/default}}
                    allowNull: {{{nullable}}}
                },

                {{/properties}}
                created_at: {
                    type: DataTypes.DATE,
                    allowNull: false
                },

                updated_at: {
                    type: DataTypes.DATE,
                    allowNull: true
                },
                {{#softdelete}}

                deleted_at: {
                    type: DataTypes.DATE,
                    allowNull: true
                }
                {{/softdelete}}
            },

            // Specific Options for the table
            {
                engine  : 'InnoDB',
                collate : 'utf8_general_ci'
            }

        ).complete(function(err) {
            done();
        });
    },

    // Backward-migration method
    down: function(migration, DataTypes, done)
    {
        migration.dropTable('{{{namePlural}}}').complete(done);
    }
}
