extends ../layout

block content

  .container
    .header
      ul.nav.nav-pills.pull-right(style="margin-top: 25px;")
        li
          a(target="_blank", href='http://greppy.org') Greppy
        li
          a(target="_blank", href='http://greppy.org/docs') Greppy API
      h3.text-muted
        img(width="100", src="/img/greppy.png")
        |  Welcome to Greppy
    .jumbotron
      h1 You did it!
      p.lead
        | Congratulations! You successfully set up a Greppy application.
        | Read on to get started.
    .row.marketing
      .col-lg-12

        h3 Getting Started
        p
          | Here are the steps to go on:

        h4
          span.text-muted 1.
          |  Create controllers and models.
        p
          | Just take a look at&nbsp;
          code modules/acme/controllers
          |  to get a feeling for the structure.

        h4
          span.text-muted 2.
          |  Edit the index controller to replace this page.
        p
          | Give it a try and change the index controller to fit your needs.
          | For more examples see the Greppy API documentation.

        h4
          span.text-muted 3.
          |  Build your model migrations and fixtures.
        p
          | Learn how to write migrations and fixtures for your models - it's a blessing
          | for deployment and development of your application.

