.container
  p.text-muted

    p.pull-right
      a(href="#top")
        i.fa.fa-arrow-circle-up
        |  Back to top

    .branding-info.pull-left
      h3.branding-head ACME
      | &copy; 2013 Greppy Gang
      &nbsp;&bull;&nbsp;
      a(target="_blank", href="http://greppy.org/imprint") Imprint
      &nbsp;&bull;&nbsp;
      a(target="_blank", href="http://greppy.org/terms") Terms

