meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content="")

link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400", rel="stylesheet", type="text/css")
link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/app.css')
link(rel='stylesheet', href='/modules/acme/css/app.css')

script(src="/components/jquery/jquery.min.js")

