.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Welcome to Greppy
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
      ul.nav.navbar-nav.navbar-right
        li
          a(target="_blank", href='http://greppy.org') Greppy
        li
          a(target="_blank", href='http://frontend.greppy.org') Greppy Frontend
        li
          a(target="_blank", href='http://docs.greppy.org') Greppy Docs

