script.

  /**
   * Delete popup bindings
   */
  $(document).on('click', '.datagrid .delete', function() {

    var id = $(this).attr('data-id');
    greppy.app.dialog(
      'Do you really want to delete this {{{name}}}?',
      {
        ok: function(callback) {

          $.ajax({
              type: "DELETE",
              url: "/{{{namePlural}}}/" + id
          }).done(function(data) {
              window.location.reload();
          });

          callback && callback();
        }
      }
    );
  });

  /**
   * Restore popup bindings
   */
  $(document).on('click', '.datagrid .restore', function() {

    var id = $(this).attr('data-id');
    greppy.app.dialog(
      'Do you really want to restore this {{{name}}}?',
      {
        ok: function(callback) {

          $.ajax({
              type: "POST",
              url: "/{{{namePlural}}}/" + id + '/restore'
          }).done(function(data) {
              window.location.reload();
          });

          callback && callback();
        }
      }
    );
  });

  /**
   * Build DataGrid instances for the whole index page
   */
  var datagrid = new greppy.DataGrid($('table.datagrid'), {
    softDeletion: true
  });

