extends ../layout

block content

  h2.page-headline {{{headlinePlural}}}
    include _search

  - if ('undefined' !== typeof {{{namePlural}}} && {{{namePlural}}}.length > 0)

    table.table.table-bordered.table-striped.datagrid.small-bottom-margin
      thead
        tr
          {{#softDeletion}}
          th Status
          {{/softDeletion}}
          {{#attributes}}
          th(data-property="{{{name}}}") {{{humanized}}}
          {{/attributes}}
          th.no-wrap(data-property="created_at") Created at
          th Operations
      tbody
        include _index_rows

    include _pagination

  - else

    p No {{{namePlural}}} present.

  include _scripts

