extends ../layout

block content

  - if (null !== {{{name}}})

    h2.page-headline {{{model}}} details
      .pull-right
        include _operations

    table.table.table-bordered.table-striped
      tbody

        {{#attributes}}
        tr
          th.min {{{humanized}}}
          td #{ {{{entity}}}.{{{name}}} }

        {{/attributes}}
        tr
          th.min Created at
          td #{helper.date.format({{{name}}}.created_at, 'LLLL')}

        {{#softDeletion}}
        tr(class="#{ {{{name}}}.deleted_at ? 'danger' : 'success' }")
          th.min Deleted
          td #{ {{{name}}}.deleted_at ? ('at ' + helper.date.format({{{name}}}.deleted_at, 'LLLL')) : 'No' }
        {{/softDeletion}}

  - else

    - var entity = '{{{model}}}'
    include ../error/notfound

