/**
 * @section 1. General Styles
 *
 * General styles which are valid for all or most of the pages.
 **/
html, body{height:100%}
html, body { background-color: #F7F7F7; background-image: url("/img/noise.png"); background-repeat: repeat; }
body { padding-top: 70px; }

/* Wrapper for page content to push down footer */
#wrap{min-height:100%;height:auto !important;height:100%;margin:0 auto -140px;padding:0 0 170px}
#wrap > .container{padding:0 15px 0}


/**
 * @section 2. Content
 *
 * Styles for the main content block.
 **/
#content{margin-bottom:4px}


/**
 * @section 3. Footer
 **/
#footer{height:140px;padding:16px 0;border-top:5px solid #222222; background-color:#32708F;color:#fff;background-image:url(/img/bubbles.png)}
#footer a { color: #fff; }
#footer a:hover, a:focus { color: #222222; text-decoration: none; }
.branding-head{margin-top:16px}
.branding-info{width:830px;p


/**
 * @section 4. Marketing
 **/

/* Everything but the jumbotron gets side spacing for mobile-first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/* @media (min-width: 768px) { */
/*   .container { */
/*     max-width: 730px; */
/*   } */
/* } */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

