/**
 * {{{headline}}} Controller
 *
 * @module {{{module}}}/controller/{{{namePlural}}}
 * @author {{{author}}}
 */

/**
 * @constructor
 */
var {{{headlinePlural}}}Controller = function()
{
    // Call the super constructor
    {{{headlinePlural}}}Controller.super_.call(this);

    // Define the path to look for views
    this.viewPath = '{{{namePlural}}}/';
};

/**
 * Extend Greppy framework base controller
 */
util.inherits({{{headlinePlural}}}Controller, greppy.get('http.mvc.controller'));

/**
 * Build the controller instance
 */
{{{headlinePlural}}}Controller = new {{{headlinePlural}}}Controller();

/**
 * Deliver the {{{namePlural}}} overview page.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.index =
{
    methods : ['GET'],
    action  : function(req, res) {

        var connection = '{{{connection}}}';
        var entity     = '{{{model}}}';

        var criteria = self.dataGrid.buildSqlCriteria(req, res, {
            limit        : 10,
            properties   : [{{{searchableAttributes}}}'created_at'],
            fuzzySearch  : true,
            softDeletion : {{{softDeletion}}}
        });

        if (!criteria) {
            return;
        }

        var count = function(callback) {

            self.dataGrid.buildSqlPagination(criteria, {
                connection : connection,
                entity     : entity
            }, function(err, pagination) {

                if (err) {
                    return self.error.showErrorPage(req, res, err);
                }

                callback && callback(pagination);
            });
        };

        var fetch = function(callback) {

            greppy.db.get(connection).getORM(function(orm, models) {

                models[entity].findAll(criteria).success(function(records) {
                    callback && callback(undefined, records);
                }).error(function(err) {
                    self.error.showErrorPage(req, res, err);
                });
            });
        };

        var render = function(pagination, records) {

            // Render the view
            res.render(self.view(criteria.view), {
                {{{namePlural}}}: records,
                pagination: pagination
            });
        };

        if ('_index_rows' === criteria.view) {
            return fetch(render);
        }

        if ('_pagination' === criteria.view) {
            return count(render);
        }

        fetch(function(err, records) {
            count(function(pagination) {
                render(pagination, records);
            });
        });
    }
};

/**
 * Deliver the {{{name}}} details page.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.show =
{
    path    : '/:id',
    methods : ['GET'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            models.{{{model}}}.find(req.params.id).success(function(record) {

                // Render the view
                res.render(self.view('show'), {
                    {{{name}}}: record
                });

            }).error(function(err) {
                self.error.showErrorPage(req, res, err);
            });
        });
    }
};

/**
 * Deliver the new {{{name}}} page.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.new =
{
    methods : ['GET'],
    action  : function(req, res) {

        // Render the view
        res.render(self.view('new'), {
            response: {
                action : 'create',
                path   : self.link('create')
            }
        });
    }
};

/**
 * Deliver the edit {{{name}}} page.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.edit =
{
    path    : '/:id/edit',
    methods : ['GET'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            models.{{{model}}}.find(req.params.id).success(function(record) {

                // Render the view
                res.render(self.view('edit'), {
                    response: {
                        action : 'update',
                        path   : self.link('update', {id: req.params.id})
                    },
                    {{{name}}}: record
                });

            }).error(function(err) {
                self.error.showErrorPage(req, res, err);
            });
        });
    }
};

/**
 * Backend action to persist a new {{{name}}}.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.create =
{
    path    : '/',
    methods : ['POST'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            var record = models.{{{model}}}.build({
                {{#attributes}}
                {{{name}}}: {{{parsing}}},
                {{/attributes}}
            });

            var validErr = record.validate();

            if (validErr) {

                self.form.logAndFlash(req, validErr);
                return res.redirect(self.link('new'));

            } else {

                record.save().success(function(record) {
                    res.redirect(self.link('show', {id: record.id}));
                }).error(function(err) {
                    self.error.showErrorPage(req, res, err);
                });
            }
        });
    }
};

/**
 * Backend action to persist the changed {{{name}}} details.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.update =
{
    path    : '/:id',
    methods : ['POST'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            models.{{{model}}}.find(req.params.id).success(function(record) {

                if (!record) {
                    return res.redirect(self.link('index'));
                }

                {{#attributes}}
                record.{{{name}}} = {{{parsing}}};
                {{/attributes}}

                var validErr = record.validate();

                if (validErr) {

                    self.form.logAndFlash(req, validErr);
                    return res.redirect(self.link('edit', {id: record.id}));

                } else {

                    record.save().success(function(record) {
                      res.redirect(self.link('show', {id: record.id}));
                    }).error(function(err) {
                        self.error.showErrorPage(req, res, err);
                    });
                }

            }).error(function(err) {
                self.error.showErrorPage(req, res, err);
            });
        });
    }
};

/**
 * Backend action to delete a {{{name}}}.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.destroy =
{
    path    : '/:id',
    methods : ['DELETE'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            models.{{{model}}}.find(req.params.id).success(function(record) {

                if (!record) {
                    return res.end();
                }

                {{#softDeletion}}
                record.deleted_at = new Date();

                record.save().success(function(record) {
                {{/softDeletion}}
                {{^softDeletion}}
                record.destroy().success(function(record) {
                {{/softDeletion}}
                    res.end();
                }).error(function(err) {
                    self.error.showErrorPage(req, res, err);
                });

            }).error(function(err) {
                self.error.showErrorPage(req, res, err);
            });
        });
    }
};
{{#softDeletion}}

/**
 * Backend action to restore a {{{name}}}.
 *
 * @type {ControllerAction}
 * @public
 */
{{{headlinePlural}}}Controller.actions.restore =
{
    path    : '/:id/restore',
    methods : ['POST'],
    action  : function(req, res) {

        greppy.db.get('{{{connection}}}').getORM(function(orm, models) {

            models.{{{model}}}.find(req.params.id).success(function(record) {

                if (!record) {
                    return res.end();
                }

                record.deleted_at = undefined;

                record.save().success(function(record) {
                    res.end();
                }).error(function(err) {
                    self.error.showErrorPage(req, res, err);
                });

            }).error(function(err) {
                self.error.showErrorPage(req, res, err);
            });
        });
    }
};
{{/softDeletion}}

module.exports = {{{headlinePlural}}}Controller;

