!!!
html
  head
    include layout/_meta
    title ACME

  body

    #wrap
      include layout/_navigation

      #content.container
        block content

    footer#footer
      include layout/_foot

    include layout/_scripts

